In [13]:
import pandas as pd

In [32]:
sample=pd.read_excel('D:\바탕화면/start UF 명단.xlsx',header=0,usecols='a:b')
print(sample.head(13))

     이름        학번
0   최종헌  20152534
1   공병주  20172703
2   한상민  20172790
3   정승훈  20172780
4   방남지  20172734
5   유수안  20192704
6   송치현  20192690
7   고희정  20192657
8   김해린  20201521
9   정예빈  20201560
10  강해솔  20202926
11  김세환  20201514
12  권우정  20201511